

<!-- Trial code -->
<div style="display: flex;  justify-content: space-around; align-items: center; height: 100vh;">
  <app-tooltip tooltipText="This is a right tooltip!" position="top">
    <button>Hover or Click me (Top)</button>
  </app-tooltip>
  <app-tooltip tooltipText="This is a right tooltip!" position="bottom">
    <button>Hover or Click me (Bottom)</button>
  </app-tooltip>
  <app-tooltip tooltipText="This is a right tooltip!" position="right">
    <button>Hover or Click me (Right)</button>
  </app-tooltip>
  <app-tooltip tooltipText="This is a right tooltip!" position="left">
    <button>Hover or Click me (Left)</button>
  </app-tooltip>
  </div>
  